* {
  font-family: sans-serif
}

body {
  margin: 0
}

.form {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.FormLabel::after {
  content: ':'
}

.form>* {
  margin: 10px;
}